<h1>Edit your sub My Guy!</h1>

<form class="" action="<%=sub_url(@sub)%>" method="post">
  <%= embed_auth_token %>
  <input type="hidden" name="_method" value="patch">
  <label for="">Title:
    <input type="text" name="sub[title]" value="<%= @sub.title %>"></label>
  <label for="">Description:
    <input type="text" name="sub[description]" value="<%= @sub.description %>"></label>

  <input type="submit" value="Update ur sub!">
</form>
